.bg-gradient {
   /*  background: #c0c0aa;   *//* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #1cefff, #c0c0aa); */  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #1cefff, #c0c0aa);  *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url(https://github.com/coelhodiana/generation10/blob/main/assets/images/bg.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.noise {
    background-image: url(https://github.com/coelhodiana/generation10/blob/main/assets/images/noise.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}